{% extends "layout.html" %}
{% block title %}
Analyse your saved songs
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <h1>Plot of {{ data.feature }} vs time since added for your Spotify liked songs.</h1>
    <div>Tap a data point to see the track name. {{ data.choiceSpec }}</div>
    {% if data.trendInfo %}
        <div>{{ data.trendInfo }}</div>
    {% endif %}
    {% if data.maxmin %}
        <div>The highest {{ data.feature }} track you've added in this interval is {{ data.maxmin[0] }} and the lowest is {{ data.maxmin[1] }}.</div>
    {% endif %}
    <div id="chart" class="chart"></div>
    <form id="new_metrics" action="/saved_analysis" method="POST">
        <select id="filter-choice" name="filter-choice" form="new_metrics">
            <option value = "trendline">Raw data with trendline</option>
            <option value = "filtered">Filtered data</option>
        </select>
        <select id="feature" name="feature" form="new_metrics">
            <option value = "danceability">Danceability</option>
            <option value = "speechiness">Speechiness</option>
            <option value = "energy">Energy</option>
            <option value = "acousticness">Acousticness</option>
        </select>
        <input value="{{ data.no_points }}" type="number" step="1" pattern="\d+" name="quantity" min="100" max="5000" placeholder="Number of songs to load (multiples of 50 please):" class="form-control"> 
    </form>
    <button type='submit' form="new_metrics" >Reload graph</button>
    <div>Took {{ data.time }} seconds to load {{ data.no_points }} tracks.</div>
{% endblock %}