{% extends "layout.html" %}
{% block title %}
Analyse your saved songs
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <h1>Plot of {{ data.feature }} vs time since added for a user's liked songs.</h1>
    <div>Hover over a data point to see the track name. {{ data.choiceSpec }}</div>
    <div>{{ data.trendInfo }}</div>
    <div id="chart" class="chart"></div>
    <form id="new_metrics" action="/saved_analysis" method="POST">
        <select id="filter-choice" name="filter-choice" form="new_metrics">
            <option value = "trendline">Raw data with trendline</option>
            <option value = "filtered">Filtered data</option>
        </select>
        <select id="feature" name="feature" form="new_metrics">
            <option value = "danceability">Danceability</option>
            <option value = "speechiness">Speechiness</option>
            <option value = "energy">Energy</option>
            <option value = "acousticness">Acousticness</option>
        </select>
        <input value="{{ data.no_points }}" type="number" step="1" pattern="\d+" name="quantity" min="100" max="5000" placeholder="Number of songs to load (multiples of 50 please):" class="form-control"> 
    </form>
    <button type='submit' form="new_metrics" >Reload graph</button>
    <div>Took {{ data.time }} seconds to load {{ data.no_points }} tracks.</div>
{% endblock %}